/* src/components/Rooms.css */

.room__container {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .room__grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .room__card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  .room__card__image img {
    width: 100%;
  }
  
  .room__card__details {
    padding: 20px;
  }
  
  .room__card__details h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  .room__card__details p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .room__card__details h5 {
    font-size: 18px;
    color: #ff6f61;
    margin-bottom: 10px;
  }
  
  .room__card__details .btn {
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  